<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.netcore.smarttechdemo">
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:name=".MainApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SmartTechDemo">
        <activity android:name=".RegisterScreen" />
        <activity android:name=".LoginScreen"/>
       <activity android:name=".MainActivity"/>
        <activity
            android:name=".SplashScreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>


            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="testandroid"
                    android:host="smartech_sdk_td" />
            </intent-filter>
        </activity>


        <service
            android:name=".Firebase_Service"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>



<!--intacia panel app harish native appid-->
        <meta-data
            android:name="SMT_APP_ID"
            android:value="df1558cddfe6737d68f7c6cf0bc02225" />
        <meta-data
            android:name="SMT_IS_AUTO_FETCHED_LOCATION"
            android:value="1" />
    </application>

</manifest>